.contacts {
    background-color: #fff;
    flex-direction: row;
    padding: 50px;

    .contacts__image {
        img {
            max-width: 100%;
        }
    }
}


@media screen and (max-width: 998px) {
    .contacts {
        flex-direction: column;
    }
}